.container {
  /* width: 99vw; */
  padding: 0 4.1rem;
  border-bottom: 1px solid;
}

.header {
  width: 78%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20rem;
}

.ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
}

a:active ::after {
  color: var(--red);
  border-bottom: 1px solid var(--red);
}

.logo {
  width: 10rem;
  height: 5rem;
}

/* RESPONSIVENES */

@media screen and (max-width: 768px) {
  .ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: small;
  }

  .container {
    width: 97vw;
    margin: 0;
    padding: 0 1rem;
  }

  .header {
    width: 99%;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .logo {
  width: 7rem;
  height: 4rem;
}
}
