.container {
 /* width: 100vw; */
 padding: 0 4.1rem;
 border-bottom: 1px solid;
}

.header {
 width: 1280px;
 margin: 0 auto;
 display: flex;
 align-items: center;
 gap: 20rem;
}

.ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
}

a:active ::after {
  color: var(--red);
  border-bottom: 1px solid var(--red);
}

.logo {
  width: 10rem;
  height: 5rem;
}