.container {
 /* width: 100vw; */
 padding: 0 4.1rem;
 border-bottom: 1px solid;
}

.header {
 width: 1280px;
 margin: 0 auto;
 display: flex;
 align-items: center;
 gap: 20rem;
}

.ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
}

a:active ::after {
  color: var(--red);
  border-bottom: 1px solid var(--red);
}

.logo {
  width: 10rem;
  height: 5rem;
}

.mobile_nav {
  align-items: center;
  justify-content: space-between;
}

.icon {
  display: none;
}

.modal_menu {
  position: absolute;
  right: 0;
  display: none;
  width: 400px;
  height: 50vh;
  margin: auto;
  background: var(--secondary-gray-blue);
  /* display: flex; */
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  animation: slide-in 1s;
  transition: all ease-in;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    translate: 150vw;
  }
  50% {
    opacity: 0;
    translate: 150vw;
  }
  
  100% {
    translate: 0 0;
  }
}

/* MOBILE RESPONSIVENES */

@media (max-width: 768px) {
  .ul {
    display: none;
  }

 .container {
  padding: 0;
}

.header {
  /* width: 90%; */
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.mobile_nav {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  display: flex;
}

.modal_menu {
  display: flex;
}
}